* {
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
    font-family: Verdana;
    
}
h2 {
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}
p {
    color: grey;
    font-size: 21px;
    font-family: Verdana;
}

a {
    color: aquamarine;
    font-size: 16px;
}
footer {
    color: grey;
    text-align: right !important;
    font-family: Verdana;
    font-size: 21px;
}
